# cw01
cw01/**/main
cw01/**/*.txt
cw01/**/.tmp
cw01/**/*.a
cw01/**/*.o
cw01/**/*.so

#cw02
cw02/**/main
cw02/**/*.o
cw02/**/tmp*
cw02/**/*.txt
cw02/**/test
cw02/**/nftw

#cw03
cw03/**/main
cw03/**/macierz
cw03/**/test
cw03/**/*.o
cw03/**/*.txt
cw03/**/lista
cw03/**/helper
cw03/**/.tmp

#cw04
cw04/**/main
cw04/**/*.o
cw04/**/catcher
cw04/**/sender
